.wrapper {
    /* box-shadow: 0px 1px 1px rgb(0 0 0 / 12%); */
    display: flex;
    justify-content: center;
    /* background: linear-gradient(0.13deg,rgba(255, 255, 255, 0.637),#bbdef2 99.76%); */
    background-size: cover;
    background: rgba(16, 13, 13, 1);
}

.RowNavbar {
    width: 100%;
}

.wrapper {
    justify-content: left;
    width: 100%;
}

.menuNavbar {
    background: none;
    border-bottom: none;
}

.menuNavbar li.ant-menu-overflow-item.ant-menu-item {
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.navbarUser {
    color: #fff;
}

.ant-row-rtl .ant-btn {
    margin-right: 0;
    margin-bottom: 8px;
    margin-left: 8px;
}

.avatarNavbar {
    cursor: pointer;
}

.nameNavbar {
    margin-left: 8px;
    /* font-size: 15px; */
    font-weight: 600;
    cursor: pointer;
}

.toggleMenu {
    transform: rotate(90deg);
}

.toggleMenu .toggleIcon {
    color: #fff;
    font-size: 30px !important;
}

.MuiBox-root.css-1t6c9ts a {
    color: #fff;
    font-weight: 400;
}

.MuiBox-root.css-1lvtzne {
    width: 120px;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
    background-color: rgba(16, 13, 13, 1) !important;
}

.imgLogoDrawer {
    height: 30px;
    text-align: center;
    margin: auto;
    position: relative;
}

.IconButton_ChevronRightIcon{
    position: fixed !important;
}