.wrapper {
    /* box-shadow: 0px 1px 1px rgb(0 0 0 / 12%); */
    display: flex;
    justify-content: center;
    background: linear-gradient(0.13deg,rgba(255, 255, 255, 0.637),#bbdef2 99.76%);
    background-size: cover;
}

.logo{
    width: 80%;
}

.navbarUser{
    color: #fff;
}

.ant-row-rtl .ant-btn {
    margin-right: 0;
    margin-bottom: 8px;
    margin-left: 8px;
}

.avatarNavbar{
    cursor: pointer;
}

.nameNavbar{
    margin-left: 5px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nameNavbar{
        color: #3330;
    }
    .navbarUser {
        margin-left: 70%;
    }
}