@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
    padding: 0;
    margin: 0;
}

.logoLogin {
    margin-top: 40px;
}

.login-form-forgot {
    font-weight: 500;
    font-size: 15px;
}

.inputPageLogin {
    /* background: #edf2f7; */
    height: 48px;
    border-radius: 10px;
}

.login-form-button {
    width: 100%;
    height: 48px;
    border-radius: 10px;
    background: #333 !important;
    font-size: 18px;
    font-weight: 700;
}

.FooterLogin {
    background: transparent;
}

.container.loginFormInput .ant-form-item-control-input {
    width: 70%;
    margin: auto;
}

div#layout-wrapper {
    background: url("./images/image_2022_10_24T03_58_02_594Z.png") no-repeat center center;
    background-size: cover;
    /* background: #000; */
}

.FormHome {
    margin: auto;
    width: 45%;
    margin-top: 20px;
    background: linear-gradient(90.13deg, #d1aad7 0.11%, #c88bc4 25.06%, #7b8fdd 50%, #86bff2 74.8%, #bbdef2 99.76%);
    border-radius: 1.5rem;
}

/* .FormHomeTable {
    margin: auto;
    width: 55%;
    margin-top: 20px;
    background: linear-gradient(90.13deg, #d1aad7 0.11%, #c88bc4 25.06%, #7b8fdd 50%, #86bff2 74.8%, #bbdef2 99.76%);
    border-radius: 1.5rem;
} */

.FormHome1 {
    width: 80%;
    margin: auto;
    padding: 60px 0;
}

.FormHome2 {
    background: rgba(0, 0, 0, 0.534);
    padding: 24px;
    border-radius: 1.5rem;
    box-shadow: 5px 5px 10px #78257b96;
}

.FormUser2 {
    background: rgba(0, 0, 0, 0.534);
    padding: 24px;
    border-radius: 1.5rem;
    box-shadow: 5px 5px 10px #78257b96;
}

.FormProject1 {
    width: 60%;
    margin: auto;
    padding: 60px 0;
}

.ant-row.ant-form-item.FormItem {
    margin-bottom: 20px;
}

.ant-form-item {
    margin-bottom: 0px;
}

.label.ant-form-item-no-colon {
    width: 100%;
}

.rightContent {
    width: 100%;
}

.UploadTask {
    display: flex;
}

.rightUploadContent {
    margin-left: 59px;
}

.ant-table.ant-table-middle.ant-table-bordered.ant-table-fixed-header {
    height: 360px;
}

.layoutUserLogin {
    /* background: url("./images/image_2022_10_24T03_58_02_594Z.png") no-repeat center center; */
    background: radial-gradient(55.87%55.87%at 35.49%-18.37%, #333 0%, rgba(255, 255, 255, 0) 100%),
        radial-gradient(91.61%92.58%at 104.86%-43.36%, #fd9d52 0%, rgba(255, 255, 255, 0) 100%),
        radial-gradient(50.59%55.55%at -2.99%-8.69%, #dd45d3 9.06%, rgba(255, 255, 255, 0) 100%);
    background-size: cover;
}

.ant-col.ant-col-sm-6 {
    text-align: center;
}

.login-form-button {
    background-color: #0078d7;
    color: white;
    border: none;
    padding: 0px 30px;
}

.login-form-button:hover {
    color: white;
    background-color: #008cff;
}

.logo-login h1 {
    color: #333;
    font-size: 75px;
    font-weight: 500;
    font-family: "Lobster", cursive;
}

.richTextField {
    width: 100%;
    background: #fff;
}

.OutlinedRichInput-root-1 {
    border-radius: 0px !important;
}

.RichInputBase-root-20 {
    height: 300px;
}

.ql-container.ql-snow {
    height: 150px;
}

.ant-form-item-label > label {
    width: 100%;
}

button.ant-btn.ant-btn-dashed.ant-btn-block.textContent {
    background: rgba(0, 0, 0, 0.541);
    color: #fff;
    border-radius: 9999px;
    font-size: 13px;
    font-weight: bold;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.btnAddUser.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    background: rgba(0, 0, 0, 0.541);
    color: #fff;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #fff;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.btnAddUser.css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover {
    background-color: #4895ef;
    color: #fff;
    border: 1px solid #4895ef;
}

button.ant-btn.ant-btn-dashed.ant-btn-block.textContent:hover {
    background: #4895ef;
    color: #fff;
    border: 1px solid #4895ef;
}

.showModal {
    width: 200px;
}

.formUser {
    width: 100%;
}

.formUser1 {
    width: 90%;
    margin: auto;
    margin-top: 40px;
}

.formProject1 {
    width: 100%;
}

.HeaderContentUser {
    display: flex;
    margin-bottom: 20px;
}

.tableUser {
    border-radius: 20px;
}

.btnAddUser {
    float: right;
    margin-left: 10px;
}

.DateBirthdayUser {
    width: 100%;
}

.site-drawer-render-in-current-wrapper {
    overflow: hidden;
}

.ModalAddTimeWorking .ant-modal-content {
    height: 700px;
}

.btnNoti {
    width: 100%;
    color: #fff;
    border: none;
    background: none !important;
    box-shadow: none !important;
    margin: auto;
}

.ant-picker-input > input[disabled] {
    color: rgb(0 0 0 / 78%);
    background-color: #e7e7e7;
}

.formItemHome .ant-upload-list {
    display: inline-block;
}

.ant-upload-list-text-container .ant-upload-span {
    color: #fff;
}

.ant-upload-list-text-container .ant-upload-span span.anticon.anticon-paper-clip {
    color: #fff;
}

.ant-upload-list-item:hover .ant-upload-list-item-info {
    background-color: transparent !important;
}

.ant-upload-list.ant-upload-list-text {
    margin-left: 20px;
}

/* mui css */

.tableAdmin {
    /* height: 400px; */
    /* height: auto; */
    width: 100%;
    background: #fff !important;
    border-radius: 20px !important;
}

.tableAdmin .MuiDataGrid-root.MuiDataGrid-autoHeight {
    border: none !important;
}

.actionTable {
    width: 100%;
    text-align: center;
}

.MuiDataGrid-root .MuiDataGrid-iconSeparator {
    color: #fff !important;
}

.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.MuiTablePagination-toolbar.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar
    p {
    margin-bottom: 0px !important;
}

.SelectWorkingDetails {
    width: 15%;
}

.BoxMail {
    box-shadow: 0px 0px 15px rgb(114, 103, 103);
}

#customized-dialog-title{
    font-size: 16px;
}

.DialogContentMail
    .MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-colorPrimary.MuiInputBase-adornedStart.css-1tcs2i1-MuiInputBase-root-MuiInput-root {
    width: 100%;
}

.TextareaAutosizeMail{
    width: 100%;
    height: 290px !important;
    border: none;
    overflow: auto !important;
    outline: none !important;
    resize: none ;
    cursor: pointer;
}

.style-6::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.style-6::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

.style-6::-webkit-scrollbar-thumb
{
    background-color: #00b7ff;	
    background-image: -webkit-linear-gradient(45deg,
                                            rgba(255, 255, 255, .2) 25%,
                                            transparent 25%,
                                            transparent 50%,
                                            rgba(255, 255, 255, .2) 50%,
                                            rgba(255, 255, 255, .2) 75%,
                                            transparent 75%,
                                            transparent)
}

@media (max-width: 768px) {
    .ant-row.ant-form-item.formItemHome,
    .ant-col.ant-col-9.ant-form-item-label,
    .ant-col.ant-col-15.ant-form-item-control {
        flex: 0 0 50%;
        max-width: 100%;
    }
    .ant-row.ant-form-item.formItemHomeText .ant-form-item-control-input {
        width: 100%;
    }
    .FormHome {
        width: 100%;
    }
    .FormHome1 {
        width: 100% !important;
        margin: auto;
        padding: 0;
    }
    .FormHome2 {
        width: 100%;
        background: none;
    }
    .FormProject1 {
        width: 100% !important;
        margin: auto;
        padding: 0;
    }
    .ant-form-item-label > label .ant-btn.ant-btn-block {
        width: 80%;
    }
    button.ant-btn.ant-btn-dashed.ant-btn-block.textContent {
        font-size: 10px;
    }
    .ant-col.FormLogin.ant-col-sm-6 {
        width: 80%;
    }
    .formItemHome .ant-col.ant-form-item-control {
        flex: 0 0 50% !important;
    }
    .SelectWorkingDetails {
        width: 40%;
    }
    .BoxMail.MuiBox-root.css-1x5v2y {
        width: 350px;
        height: 450px;
    }
    .TextareaAutosizeMail{
        width: 100%;
        height: 240px !important;
        border: none;
    }
}

@media (max-width: 992px) {
    .FormHome {
        width: 100% !important;
    }
    .container.loginFormInput .ant-form-item-control-input {
        width: 100%;
        margin: auto;
    }
}

@media (max-width: 1024px) {
    .FormHome {
        width: 100% !important;
        margin-top: 20px;
    }
    .FormProject1 {
        width: 90%;
        margin: auto;
        padding: 40px 0;
    }
    .FormHome1 {
        width: 90%;
        margin: auto;
        padding: 40px 0;
    }
    .SelectWorkingDetails {
        width: 30%;
    }
    .container.loginFormInput .ant-form-item-control-input {
        width: 100%;
        margin: none;
    }
}

@media (max-width: 1440px) {
    .FormHome {
        width: 100% !important;
    }
}
