@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
    padding: 0;
    margin: 0;
}

.FormLogin{
    /* border: 1px solid black; */
    background: rgba(0, 0, 0, 0.534);
    border-radius: 20px;
    width: 30%;
    text-align: center;
}

.content {
    padding: 80px 0;
}

.logoLogin {
    margin-top: 40px;
}

.login-form-forgot {
    font-weight: 500;
    font-size: 18px;
}

.inputPageLogin {
    /* background: #edf2f7; */
    height: 48px;
    border-radius: 10px;
}

.bn632-hover {
    /* width: 100%;
    height: 48px;
    border-radius: 10px;
    background: #333 !important;
    font-size: 18px;
    font-weight: 700;
    background-color: #0078d7;
    color: white;
    border: none;
     */

    width: 100%;
    height: 48px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    padding: 0px 30px;
    color: white;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    
    --moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn632-hover:hover {
    color: white;
    background: transparent;
}

.bn632-hover:hover {
    background-position: 100% 0;
    --moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover.bn20 {
    background-image: linear-gradient(
      to right,
      #667eea,
      #764ba2,
      #6b8dd6,
      #8e37d7
    );
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
  }

.FooterLogin {
    background: transparent;
    bottom: 0;
    /* padding: 20px calc(24px / 2); */
    position: absolute;
    right: 0;
    color: #74788d;
    /* left: 250px; */
    height: 9vh;
    width: 100%;
    text-align: center;
}

.container.loginFormInput .ant-form-item-control-input {
    width: 70%;
    margin: auto;
}

div#layout-wrapper {
    background: url("./images/2890407d363eef60b62f.jpg") no-repeat center center;
    background-size: cover;
    /* background: #000; */
}

.ant-btn[disabled]{
    color: #fff;
}

.ant-btn[disabled]:hover{
    color: #fff;
}

.btnSendHome {
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
    border-radius: 65px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: white;
    height: 40px;
  }
  
  .btnSendHome .text {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  }
  
  .btnSendHome:after {
    content: "";
    border-radius: 18px;
    position: absolute;
    margin: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #0e0e10;
  }
  
  .btnSendHome:hover {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
    color: white;
  }
  
  .btnSendHome:hover .text {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  }

/* .btnSendHome{
    background: #9854CB;
    border: none;
    color: #fff;
}

.btnSendHome:hover{
    background: #9854CB !important;
    color: #fff;
} */

.FormHome {
    margin: auto;
    width: 45%;
    margin-top: 20px;
    /* background: linear-gradient(to top,#fbc2eb 0%,#a18cd1 100%); */
    background: rgba(0, 0, 0, 0.534);
    border-radius: 1.5rem;
}

/* .FormHomeTable {
    margin: auto;
    width: 55%;
    margin-top: 20px;
    background: linear-gradient(90.13deg, #d1aad7 0.11%, #c88bc4 25.06%, #7b8fdd 50%, #86bff2 74.8%, #bbdef2 99.76%);
    border-radius: 1.5rem;
} */

.FormHome1 {
    width: 80%;
    margin: auto;
    padding: 60px 0;
}

.FormHome2 {
    background: rgba(0, 0, 0, 0.534);
    padding: 24px;
    border-radius: 1.5rem;
    box-shadow: 5px 5px 10px #78257b96;
}

.FormUser2 {
    background: rgba(0, 0, 0, 0.534);
    padding: 24px;
    border-radius: 1.5rem;
    box-shadow: 5px 5px 10px #78257b96;
}

.FormProject1 {
    width: 60%;
    margin: auto;
    padding: 60px 0;
}

.ant-row.ant-form-item.FormItem {
    margin-bottom: 20px;
}

.ant-form-item {
    margin-bottom: 0px;
}

.label.ant-form-item-no-colon {
    width: 100%;
}

.rightContent {
    width: 100%;
}

.UploadTask {
    display: flex;
}

.rightUploadContent {
    margin-left: 59px;
}

.ant-table.ant-table-middle.ant-table-bordered.ant-table-fixed-header {
    height: 360px;
}

.layoutUserLogin {
    /* background: url("./images/image_2022_10_24T03_58_02_594Z.png") no-repeat center center; */
    /* background: linear-gradient(to top,#fbc2eb 0%,#a18cd1 100%); */
    background: url("./images/2890407d363eef60b62f.jpg") no-repeat center center;

    background-size: cover;
}

.ant-col.ant-col-sm-7 {
    text-align: center;
}

.DialogContentMail .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border: none;
    border-bottom: 1px solid #333 !important;
}


.logo-login h1 {
    color: #333;
    font-size: 75px;
    font-weight: 500;
    font-family: "Lobster", cursive;
}

.richTextField {
    width: 100%;
    background: #fff;
}

.OutlinedRichInput-root-1 {
    border-radius: 0px !important;
}

.RichInputBase-root-20 {
    height: 300px;
}

.ql-container.ql-snow {
    height: 150px;
}

.ant-form-item-label > label {
    width: 100%;
}

button.ant-btn.ant-btn-dashed.ant-btn-block.textContent {
    background: rgba(0, 0, 0, 0.541);
    color: #fff;
    border-radius: 9999px;
    font-size: 13px;
    font-weight: bold;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.btnAddUser.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    background: rgba(0, 0, 0, 0.541);
    color: #fff;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.541);
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.btnAddUser.css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover {
    background-color: #9854CB;
    color: #fff;
    border: 1px solid #9854CB;
}

button.ant-btn.ant-btn-dashed.ant-btn-block.textContent:hover {
    background: #9854CB;
    color: #fff;
    border: 1px solid #9854CB;
}

.showModal {
    width: 200px;
}

.formUser {
    width: 100%;
}

.formUser1 {
    width: 90%;
    margin: auto;
    margin-top: 40px;
}

.formProject1 {
    width: 100%;
}

.HeaderContentUser {
    display: flex;
    margin-bottom: 20px;
}

.tableUser {
    border-radius: 20px;
}

.btnAddUser {
    float: right;
    margin-left: 10px;
}

.DateBirthdayUser {
    width: 100%;
}

.site-drawer-render-in-current-wrapper {
    overflow: hidden;
}

.ModalAddTimeWorking .ant-modal-content {
    height: 700px;
}

.btnNoti {
    width: 100%;
    color: #fff;
    border: none;
    background: none !important;
    box-shadow: none !important;
    margin: auto;
}

.ant-picker-input > input[disabled] {
    color: rgb(0 0 0 / 78%);
    background-color: #e7e7e7;
}

.formItemHome .ant-upload-list {
    display: inline-block;
}

.ant-upload-list-text-container .ant-upload-span {
    color: #fff;
}

.ant-upload-list-text-container .ant-upload-span span.anticon.anticon-paper-clip {
    color: #fff;
}

.ant-upload-list-item:hover .ant-upload-list-item-info {
    background-color: transparent !important;
}

.ant-upload-list.ant-upload-list-text {
    margin-left: 20px;
}

/* mui css */

.tableAdmin {
    /* height: 400px; */
    /* height: auto; */
    width: 100%;
    background: #fff !important;
    border-radius: 20px !important;
}

.tableAdmin .MuiDataGrid-root.MuiDataGrid-autoHeight {
    border: none !important;
}

.actionTable {
    width: 100%;
    text-align: center;
}

.MuiDataGrid-root .MuiDataGrid-iconSeparator {
    color: #fff !important;
}

.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.MuiTablePagination-toolbar.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar
    p {
    margin-bottom: 0px !important;
}

.SelectWorkingDetails {
    width: 15%;
}

.BoxMail {
    box-shadow: 0px 0px 15px rgb(114, 103, 103);
}

#customized-dialog-title{
    font-size: 16px;
}

.DialogContentMail
    .MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-colorPrimary.MuiInputBase-adornedStart.css-1tcs2i1-MuiInputBase-root-MuiInput-root {
    width: 100%;
}

.TextareaAutosizeMail{
    width: 100%;
    height: 310px !important;
    border: none;
    overflow: auto !important;
    outline: none !important;
    resize: none ;
    cursor: pointer;
    font-size: 16px;
}

.style-6::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.style-6::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

.style-6::-webkit-scrollbar-thumb
{
    background-color: #00b7ff;	
    background-image: -webkit-linear-gradient(45deg,
                                            rgba(255, 255, 255, .2) 25%,
                                            transparent 25%,
                                            transparent 50%,
                                            rgba(255, 255, 255, .2) 50%,
                                            rgba(255, 255, 255, .2) 75%,
                                            transparent 75%,
                                            transparent)
}

.css-1a4cg4j-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #fff !important;
    background: #333;
    font-weight: 600;
}

.css-1a4cg4j-MuiButtonBase-root-MuiTab-root{
    color: #fff !important;
    font-weight: 600 !important;
}

@media (max-width: 768px) {
    .FormLogin{
        width: 70% !important;
    }
    .ant-row.ant-form-item.formItemHome,
    .ant-col.ant-col-9.ant-form-item-label,
    .ant-col.ant-col-15.ant-form-item-control {
        flex: 0 0 50%;
        max-width: 100%;
    }
    .ant-row.ant-form-item.formItemHomeText .ant-form-item-control-input {
        width: 100%;
    }
    .FormHome {
        width: 100%;
    }
    .FormHome1 {
        width: 90% !important;
        margin: auto;
        padding: 0;
    }
    .FormHome2 {
        width: 100%;
        /* background: none; */
    }
    .FormProject1 {
        width: 100% !important;
        margin: auto;
        padding: 0;
    }
    .ant-form-item-label > label .ant-btn.ant-btn-block {
        width: 80%;
    }
    button.ant-btn.ant-btn-dashed.ant-btn-block.textContent {
        font-size: 10px;
    }
    .ant-col.FormLogin.ant-col-sm-7 {
        width: 80%;
    }
    .formItemHome .ant-col.ant-form-item-control {
        flex: 0 0 50% !important;
    }
    .SelectWorkingDetails {
        width: 40%;
    }
    .BoxMail.MuiBox-root.css-1nhsbpx {
        width: 350px !important;
        height: 480px !important;
    }
    .TextareaAutosizeMail{
        width: 100%;
        height: 160px !important;
        border: none;
    }
}

@media (max-width: 992px) {
    .container.loginFormInput .ant-form-item-control-input {
        width: 100%;
        margin: auto;
    }
}

@media (max-width: 1024px) {
    .FormLogin{
        width: 55%;
    }
    .content {
        padding: 50px 20px;
    }
    .FormHome {
        width: 80% !important;
        margin-top: 20px;
    }
    .FormProject1 {
        width: 90%;
        margin: auto;
        padding: 40px 0;
    }
    .FormHome1 {
        width: 90%;
        margin: auto;
        padding: 40px 0;
    }
    .SelectWorkingDetails {
        width: 30%;
    }
    .container.loginFormInput .ant-form-item-control-input {
        width: 100%;
        margin: none;
    }
}

